#body {
    background-image: url('../images/bg.jpeg');
}
.container {
    background-image: url('../images/background.jpg');
}
#header {
    color: #adff2f;
}
#howToPlay {
    font-size: 12px;
    width:450px;
    background-color:#9da5ebb6;
    color: #ffffff
}

#randomNumberDiv {
    height: 105px;
}

#winsLoses {
    text-align: center;
}

#totalScore {
    height: 105px;   
}
.imag {
    width:80px;
    height: 80px;
}
.transparent {
    border:solid #ffffff 1px;
    background-color: transparent;
    color: #00ffff;
    font-weight: bold;
}